# core data and Spark imports
pyspark==4.0.2
py4j==0.10.9.9
pandas==2.3.0
numpy==1.26.4
pyarrow==20.0.0

matplotlib==3.10.0
seaborn==0.13.2

# LLM and RAG stack imports
openai==1.76.0
langchain==0.3.24
langchain-community==0.3.23
langchain-text-splitters==0.3.8
chromadb==0.5.5
sentence-transformers==4.1.0
huggingface-hub==0.31.1
transformers==4.51.3
torch==2.7.0

# other utilities
requests==2.32.3
tqdm==4.67.1